:root {
    --verde: #6BF178;
    --verdeOscuro: #288E4C;
    --verdeGris: #8DFFB5;
    --blanco: #FFFFFF;
    --negro: #000000;
    --fuente: 'Quicksand', sans-serif;
    --button: #88ad58;
    --pressButton: #b9af5b;
    --linkButton: #c0e242;
    
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    display: block;
    padding: 10%;
    padding: 0 10% 10%;
}

.imagenes {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    row-gap: 15%;
    padding-inline: 2%;
    padding-top: 2%;
    background-color: transparent;
}

img {
    width: 70%;
}

img:nth-child(2) {
    margin-left: 50%;
}

img:nth-child(3) {
    margin-left: 20%;
}

.background-image {
    background-image: url("../img/bg-foto.png");
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.login {
    text-align: center;
    border-radius: 25px;
    padding-top: 1.5%;
    background-color: #2333338f;
}

.login>section>img {
    width: 40%;
}

.login>section:nth-child(1) {
    padding: 0;
}



/* -------------------------------------------- */

.texto-formulario h2,
a,
.input label,
.password-olvidada,
.reguistro-usuario
 {
    color: var(--blanco);
}

.texto-formulario h2 {
    text-align: center;
    padding: 30px;
}

.texto-formulario p {
    text-align: center;
}

.input label {
    display: block;
    font-weight: bold;
    margin: 3% 0px 3%;
    text-align: left;
}

.password-olvidada a {
    display: inline-block;
    margin-top: 20px;
}

.reguistro-usuario a {
    display: inline-block;
    margin-top: 20px;
    color: var(--button);
}

.reguistro-usuario a:hover{
cursor: pointer;
color: var(--blanco);
}


.input input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    border: 0;
}

.input button[type="submit"] {
    background-color: var(--button);
    color: var(--blanco);
    font-weight: bold;
    font-size: larger;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
    border-radius: 40px;
    width: 100%;
    height: 2.5em;
}

.input button[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--pressButton);
}
.textoenvio
{
    color: var(--blanco);
    padding-top: 20px;
}





/* Animacion */

.inf {
    animation: que-melon 5s infinite;
}

@keyframes que-melon {
    0% {
        color: var(--verdeOscuro);
    }
    50% {
        color: var(--verde);
    }
    100% {
        color: var(--verdeGris);
    }
}

@media only screen and (max-width: 1024px) {
    /* main {
    } */
    img:nth-child(3) {
        margin-left: 1%;
    }
    .imagenes {
        padding-inline: 0;
        width: 50%;
        justify-content: center;
    }
    .login {
        justify-content: normal;
        align-items: center;
        /* border-radius: 0; */
        width: 33%;
    }
    section {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        justify-content: normal;
        width: 100%;
        align-items: initial;
    }
    .imagenes {
        display: none;
    }
    .login {
        height: 100%;
        border-radius: 0;
        width: 100%;
        margin-right: 0;
    }
    .contenido{
        height: 100%;
    }
    
}