html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}


/*

/*@media only screen and (min-width: 1200px) and (max-width: 1400px) { *-/
.fondoCarrusel
{
    display: flex;
    margin: 0;
    padding: 0;
    background: url("/icons/escena2-ads1.png");
    background-repeat: no-repeat;
    /*background: url("/icons/escena2-ads1.png");
    /*background: linear-gradient(150deg, #14580e, #e2df39,#79eb6e);*-/
    background-size: cover;
    width: 50%;
}

.carousel-item
{
    display: flex;
    margin: 0;
    padding: 0;
    background: url("/icons/escena2-ads1.png");
    background-repeat: no-repeat;
    /*background: url("/icons/escena2-ads1.png");
    /*background: linear-gradient(150deg, #14580e, #e2df39,#79eb6e);*-/
    background-size: cover;
    width: 50%;
}
*/

.login
{
    position: absolute;
    top: 11%;
    left: 61%;
    width: 36vw;
    
    background-color: rgba(255, 255, 255, 0.795) ;
    
    border-radius: 15px;
    border: 5px solid;
    color: #14580e;
}

.login img
{
    position: relative;
    left: 10%;
    top: 15px;
    width: 80%;
    height: auto;
    
    padding: 0 0 5% 0;
}

.login h2
{
    text-align: center;
    padding: 0 0 5px 0;
}

.login form
{
    
    padding: 0 40px;
    box-sizing: border-box;
}


form .username
{
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #0d5707;
    border: 3px solid;
    margin: 30px 0;
}

.username input
{
    width: 135%;
    padding: 0 40%;
    height: 20px;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
}

.username label
{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #0d5707;
    transform: translateY(-50%);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    pointer-events: none;
    /*transition: .5s;*/
}
/* 
.username span::before
{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0d5707;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label
{
    top: -5px;
    color: #0d5707;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before
{
    width: 100%;
}
*/
.forgot
{
    padding-top: 30px;
    margin: -5px 0 20px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
} 

.forgot:hover
{
    text-decoration: underline;
}

input[type = "submit"]
{
    position: relative;
    left: 25%;
    width: 50%;
    height: 40px;
    border: 0px solid;
    background: #0d5707;
    border-radius: 25px;
    margin: 15px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #ebe973;
    cursor: pointer;
    outline: none;
}

input[type = "button"]
{
    
    display: inline-block;
    position: relative;
    left: 25%;
    width: 50%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 15px;    
    background: #0d5707;

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #ebe973;

    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover
{
    border-color: #0d5707;
    border: 1px solid;
    background: #ebe973;
    color: #0d5707;
    transition: .2s;
}

.buttonReg
{
    display: inline-block;
    position: relative;
    left: 28%;
    padding: 2px 11%;
    width: 50%;
    height: 40px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 25px;
    background: #0d5707;
        
    font-size: 25px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;    
    text-decoration: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    color: #ebe973;
    cursor: pointer;
    
    
}

.buttonReg:hover
{
    border-color: #0d5707;
    border: 1px solid;
    background: #ebe973;
    color: #0d5707;
    transition: .2s;
}

.registrarse{
    color: #0d5707;
    text-decoration: none;
    padding: 30px;
}

.registrarse a:hover
{
    text-decoration: underline;
}

/*------- NAV INFERIOR DESPLEGABLE: Contacto, info, ... ----------*/

.navbar li
{
    padding: 0px 10px;
}

.navbar 
{
    display: flex;
    height: 5vh;
    background:#14580e;
    align-items: center;
    padding: 0;
    gap: lem;
    font-size: 15px;
    list-style: none;
    
    
}

.navbar a{
    display: inline;
    color: #ebe973;
    text-decoration: none;
}

.navbar a:hover
{
    color: #ffffff;
    transition: .2s;
}

/*
.nav-pills .nav-link.active
{
    background-color: #ebe973;
    color: #000;
    color: #ebe973;
    text-decoration: none;
    
    transition: color .20s ease-in-out,background-color .20s ease-in-out,border-color .20s ease-in-out;
}
*/

.dropdown-menu a
{
    background-color: #ffffff;
    color: #14580e;
}

.dropdown-menu a:hover
{
    color: #ffffff;
    background-color: #14580e;

}

